-# coding: utf-8

%div#toolbox_spacer_top
%ul#toolbox.unstyled
  %li 表示： ホスト一覧
  %li
    条件：
    &= cond
  %li
    選択：
    %button.btn#select_on_all すべて選択
    %button.btn#select_off_all 選択をクリア
    %button.btn#selected_hosts 選択ホストのみ表示
    %button.btn#hosts_history 変更履歴
    %button.btn#bricks_of_hosts 機器リスト
  - if @isadmin
    = haml :host_operations
%div#toolbox_spacer_bottom
%div#maincontents
  %table#hostlist.table.table-striped.table-bordered.table-condensed
    = haml :host_list, :locals => {:host_list => @hosts}

