-# coding: utf-8
- @service_single ||= false
- charging_status_list = Yabitz::Model::Content::CHARGING_LABELS

%div#toolbox_spacer_top
%div#toolbox
  %div&= "表示：" + @page_title
  %div#grepbox{:style => 'width:100%; padding:4px;'}
    %form#grepform{:name => "grepform", :action => '/ybz/services', :method => 'GET'}
      %table#greptable
        %tr
          %th サービス名称
          %td
            %input{:type => 'text', :name => 'name', :value => in_name }
          %th コンテンツ名
          %td
            %input{:type => 'text', :name => 'content', :value => in_content }
        %tr
          %th ML
          %td
            %input{:type => 'text', :name => 'mladdress', :value => in_mladdress }
          %th 連絡先
          %td
            %input{:type => 'text', :name => 'contact', :value => in_contact }
        %tr
          %th サービスURL
          %td
            %input{:type => 'text', :name => 'urls', :value => in_urls }
          %th メモ
          %td
            %input{:type => 'text', :name => 'notes', :value => in_notes }
        %tr
          %th 課金設定
          %td
            %select{:name => 'charging'}
              %option{:value => ''} (指定なし)
              - for stat in charging_status_list
                - selected = stat == in_charging ? true : false
                %option{:value => stat, :selected => selected} #{Yabitz::Model::Content.charging_title(stat)}
          %th 仮想化基盤
          %td
            %select{:name => 'hypervisors'}
              %option{:value => ''} (指定なし)
              %option{:value => 'true', :selected => (in_hypervisors == 'true')} TRUE
              %option{:value => 'false', :selected => (in_hypervisors == 'false')} FALSE
        %tr
          %td{:align => 'right', :colspan => 4}
            %input{:type => 'submit', :value => '絞り込み'}
  - if @isadmin
    %div
      選択したサービスへの操作: 
      %select.admin_operations#service_operation_list
        %option{:value => 'nonedefault'} 操作を選択してください
        %option{:value => 'none', :disabled => true} -- ホストの追加 --
        %option{:value => 'add_host'} 選択したサービスにホストを追加
        %option{:value => 'none', :disabled => true} -- コンテンツの変更 --
        %option{:value => 'change_content'} 選択したサービスを他のコンテンツに移動
        %option{:value => 'none', :disabled => true} -- データ削除 --
        %option{:value => 'delete_records'} 選択したサービスのデータを消去
%div#toolbox_spacer_bottom
%div#maincontents
  - if @isadmin and not @service_single
    %form.inline.smartadd{:name => 'create_service', :action => '/ybz/service/create', :method => "POST"}
      %table#servicecreate
        %tr.service_item
          %td.td_line_head
            %div{:style => "padding-top: 3em; padding-left: 0; padding-right: 0;"}
          %td.service_name{:style => "padding-left: 1em;"}
            名称: 
            %input.smartinput{:type => 'text', :size => 16, :name => 'name'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.service_content
            %select{:name => 'content'}
              - Yabitz::Model::Content.all(:sorted => true).each do |c|
                %option{:value => c.oid}&= c.to_s
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            ML:
            %input.smartinput{:type => 'text', :size => 16, :name => 'mladdress'}
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            %input{:type => 'image', :height => 24, :width => 24, :src => '/images/adding.png'}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
  %table#servicelist
    = partial :service, :collection => @services
